%head
  / / Title & Meta tags
  / / Favicon
  %meta{:charset => "utf-8"}/
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1, user-scalable=no", :name => "viewport"}/
  %meta{:content => "#252525", :name => "theme-color"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "https://slicegroup.co/uploads/setting/logo/1/Slice_Group_metatag.jpg", :property => "og:image"}/
  %meta{:content => "Paginas web", :property => "og:title"}/
  %meta{:content => "Paginas web", :property => "og:description"}/
  %meta{:content => "https://slicegroup.co/", :property => "og:url"}/
  %meta{:content => "en_US", :property => "og:locale"}/
  %meta{:content => "es_VE", :property => "og:locale:alternate"}/
  %meta{:content => "summary", :name => "twitter:card"}/
  %meta{:content => "Paginas web", :name => "twitter:site"}/
  %meta{:content => "Paginas web", :name => "twitter:title"}/
  %meta{:content => "Paginas web", :name => "twitter:description"}/
  %meta{:content => "https://slicegroup.co/uploads/setting/logo/1/Slice_Group_metatag.jpg", :name => "twitter:image:src"}/
  %meta{:content => "US", :name => "twitter:app:country"}/
  %meta{:name => "twitter:creator"}/
  %meta{:content => "authenticity_token", :name => "csrf-param"}/
  %meta{:content => "uLUCwyyorrTnutmApWayfsSl6TjAOynckPRLyRWPRqdf0jbI1gFMFp9TuN8FzAPg1FIy7JlaLQ2jSsUmlvzBkA==", :name => "csrf-token"}/
  %meta{:content => "Paginas web", :name => "description"}/
  %meta{:content => "keppler, diseño web, desarrollo web, desarrollo de software, ecommerce, development, cms, web develpment, web design, Punto Fijo, slice, slicegroup, Venezuela, keppler, keppler cms", :name => "keywords"}/
  %title Paginas web
  %link{:href => "/assets/app/favicon.png", :rel => "icon", :sizes => "192x192"}/
  %link{:href => "/assets/css/icofont.css", :rel => "stylesheet"}/
  %link{:href => "/assets/css/font-awesome.min.css", :rel => "stylesheet"}/
  %link{:href => "https://fonts.googleapis.com/css?family=Montserrat", :rel => "stylesheet"}/
  %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css", :rel => "stylesheet"}/
  %link{:href => "https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css", :rel => "stylesheet"}/
  %script{:src => "https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"}
  %script{:src => "https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"}
  / / Stylesheets
  %link{"data-turbolinks-track" => "reload", :href => "/assets/app/application-e5b54a2a523a8c0626c5f907dfb46c5958022526deea770e0cffe98389021939.css", :media => "all", :rel => "stylesheet"}/
  %link{"data-turbolinks-track" => "reload", :href => "https://fonts.googleapis.com/css?family=Patua+One", :media => "screen", :rel => "stylesheet"}/
  %link{"data-turbolinks-track" => "reload", :href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css", :media => "screen", :rel => "stylesheet"}/
  / / Javascripts
  %script{"data-turbolinks-track" => "reload", :src => "/assets/app/application-fcd5642b3b155baff196f92852ea050bbb6cb3a2ea6c82c2dced392013d5edb7.js"}
  %script{"data-turbolinks-track" => "reload", :src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"}
  / / Google Analytics
  %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-121648466-1"}
  :javascript
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', "UA-70380354-4");
  :javascript
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5a1ecf4d198bd56b8c03e0d9/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
    })();
