%footer.footer
	.container
		.row
			.col-12
				.footer__info
					%p.mb-0.text-center Copyright ©2019 All rights reserved
			.col-12
				%span
					%i.fa.fa-facebook{"aria-hidden" => "true", :style => "color:#fff;"}
				%h5.text-center.pt-4.mb-0.uno Movistar
				%h5.text-center.pt-4.mb-0.dos Movistar
				%h5.text-center.pt-4.mb-0.tres Movistar
				%h5.text-center.pt-4.mb-0.cuatro Movistar
				%h5.text-center.pt-4.mb-0.cinco Movistar
				%h5.text-center.pt-4.mb-0.seis Movistar
				%h5.text-center.pt-4.mb-0.siete Movistar
			-# .col-12
				%picture
					%source{:srcset => "assets/img/movistar.svg", :type => "image/webp"}
						%source{:srcset => "assets/img/movistar.svg", :type => "image/jpeg"}
							%img{:alt => "Alt Text!", :src => "assets/img/movistar.svg"}/
