%footer.footer
	.container
		.row
			.col-12
				.footer__info
					%p.mb-0.text-center Copyright ©2019 All rights reserved
			.col-12
				%h5.text-center.pt-4.mb-0.uno Movistar
				%h5.text-center.pt-4.mb-0.dos Movistar
				%h5.text-center.pt-4.mb-0.tres Movistar
				%h5.text-center.pt-4.mb-0.cuatro Movistar
				%h5.text-center.pt-4.mb-0.cinco Movistar
				%h5.text-center.pt-4.mb-0.seis Movistar
				%h5.text-center.pt-4.mb-0.siete Movistar