%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
%title Landing Page - Movistar CL 
%link{:href => "assets/img/apple-touch-icon.png", :rel => "apple-touch-icon", :sizes => "180x180"}/
%link{:href => "assets/img/favicon-32x32.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
%link{:href => "assets/img/favicon-16x16.png", :rel => "icon", :sizes => "16x16", :type => "image/png"}/
%link{:href => "assets/img/site.webmanifest", :rel => "manifest"}/
%link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}
%link{rel: "stylesheet", href:"assets/css/slick.css"}
%link{rel: "stylesheet", href:"assets/css/slick-theme.css"}
%link{rel: "stylesheet", href:"assets/css/sweetalert2.min.css"}
%link{rel: "stylesheet", href:"assets/css/font-awesome.min.css"}
%link{rel: "stylesheet", href:"assets/css/styles.css"}
//open graph tags - facebook
%meta{:content => "http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html", :property => "og:url"}/
%meta{:content => "article", :property => "og:type"}/
%meta{:content => "When Great Minds Don’t Think Alike", :property => "og:title"}/
%meta{:content => "How much does culture influence creative thinking?", :property => "og:description"}/
%meta{:content => "http://static01.nyt.com/images/2015/02/19/arts/international/19iht-btnumbers19A/19iht-btnumbers19A-facebookJumbo-v2.jpg", :property => "og:image"}/
// tags - twitter
%meta{:content => "summary", :name => "twitter:card"}/
%meta{:content => "@flickr", :name => "twitter:site"}/
%meta{:content => "Small Island Developing States Photo Submission", :name => "twitter:title"}/
%meta{:content => "View the album on Flickr.", :name => "twitter:description"}/
%meta{:content => "https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg", :name => "twitter:image"}/






-# %meta{charset: "UTF-8"}
-# %meta{content: "width=device-width, initial-scale=1.0", name:"viewport"}
-# %title Landing Page - Movistar CL 
-# %link{:href => "assets/img/favicon.png", :rel => "icon", :sizes => "32x32", :type => "image/png"}/
-# %link{rel: "stylesheet", href:"assets/css/bootstrap.min.css"}
-# %link{rel: "stylesheet", href:"assets/css/slick.css"}
-# %link{rel: "stylesheet", href:"assets/css/slick-theme.css"}
-# %link{rel: "stylesheet", href:"assets/css/sweetalert2.min.css"}
-# %link{rel: "stylesheet", href:"assets/css/font-awesome.min.css"}
-# %link{rel: "stylesheet", href:"assets/css/styles.css"}




