%section.products
	.carrusel-slider
		.single-item
			.item
				%img.img-responsive{:src => "assets/img/01.jpg"}/
				.mask-item
					.banner-info
						%h1 Texto #1 Leonard 
			.item
				%img.img-responsive{:src => "assets/img/02.jpg"}/
				.mask-item
					.banner-info
						%h1 Texto #2
