//primary fonts
@font-face {
    font-family: 'telefonicabold';
    src: url('../fonts/telefonica-bold-webfont.woff2') format('woff2'),
         url('../fonts/telefonica-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'telefonicalight';
    src: url('../fonts/telefonica-light-webfont.woff2') format('woff2'),
         url('../fonts/telefonica-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'telefonicaextralight';
    src: url('../fonts/telefonica-extralight-webfont.woff2') format('woff2'),
         url('../fonts/telefonica-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'telefonicaregular';
    src: url('../fonts/telefonica-regular-webfont.woff2') format('woff2'),
         url('../fonts/telefonica-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'telefonicaregular_italic';
    src: url('../fonts/telefonica-regularitalic-webfont.woff2') format('woff2'),
         url('../fonts/telefonica-regularitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
//secondary fonts
@font-face {
    font-family: 'telefonicahand';
    src: url('../fonts/telefonica-hand-webfont.woff2') format('woff2'),
         url('../fonts/telefonica-hand-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'arialregular';
    src: url('../fonts/arial-webfont.woff2') format('woff2'),
         url('../fonts/arial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

