/* ===== Settings Slick ====== */
.carrusel-slider{
  .single-item{
    width: 100%;
    height: 100%; 
    margin: 0 auto;
    .slick-prev{
      left: 25px !important;
      z-index: 2;
      &:before{
        font-size: $arrow-size;
        color: $arrow-color;
      }
    }
    .slick-next{
      right: 25px !important;
      z-index: 2;
      &:before{
        font-size: $arrow-size;
        color: $arrow-color;
      }
    } 
   .slick-dots {
      bottom: 10px;
      z-index: 2;
      .slick-active {
        button{
          &:before{
             color: $dots-color-active;
             opacity: 0.75;
          }
        }
      }
      li{
        button{

          &:before{
            color: $dots-color;
            font-size: $dots-size;
          }

          &:hover:before, 
          &:focus:before{
            color: $dots-color-active;
          }
        }
      }
    }
   .slick-slide {
      height: 100vh !important;
      img{
        width: 100%;
        margin: 0;
        padding: 0;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .mask-item{
        background: hsla(0, 0%, 0%, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;}
        .banner-info{
          height: 100%;
          width: 100%;
           h1{
            color: white;
            // font-size: 5rem;
            font-family: monospace;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            text-align: center;
              @include respond-to(xs){
                font-size: 1rem;
                color: pink;
              }
           }
        }
    }
  }
}
  





